@use '../abstracts/variables';

body {
  display: flex;
  background-color: variables.$neutral-2;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  margin: 5.5rem 1.5rem;
  border-radius: 0.5625rem;
  overflow: hidden;
  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    margin: auto 0;
    border-radius: 0.375rem;
    height: 31.25rem;
  }
}
